$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";
.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.description {
  margin-top: 0;
}

.well a {
  color: #073815;
}

.chef_info {
  margin-top: 10px;
}

.recipe-actions {
  padding-top: 5px;
}

.recipe-actions a {
  color: #fff;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #073815;
  font-weight: bold;
  font-size: 1.25em;
}

.input_checkbox input {
  width: auto !important;
}
